/* Generic */
html, body {
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
}
label {
	margin: 0;
}
hr {
	border-color: #CDCDCD;
}
a:hover {
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: #c06014;
}
.label {
	font-size: large;
	font-weight: 700;
}
h4 {
	font-weight: 600;
}
div.cfooter {
	font-weight: 700;
	font-size: large;
}
@media only screen and (min-device-width: 576px) {
  div.link-logo {
  	width: 100%;
  	display: flex;
  }
}
.bold {
	color: #c06014;
}
section {
	margin-bottom: 24px;
}
/* Generic */
/* life.html*/
div.exp-container {
	width: 212px;
	border: solid 2px #c06014;
	border-radius: 15px;
	float: left;
	margin: 16px 16px 0 0;
	padding-bottom: 4px;
	text-align: center;
}
.h4-exp {
	margin-bottom: -1px
}
div.exp-title {
	width: 100%;
}
label.name.small-modal-margin {
	margin-top: 8px;
}
label.sub-name {
	font-weight: 600;
	font-size: large;
}
label.see-more {
	font-size: 13px;
}
button.close.modal_close {
	margin-right: 10px;
}
div.modal_container {
	margin: 0.6em 2em;
}
div.exp-content {
	text-align: left;
	font-size: 14px;
}
/* life.html*/

/* knowledge */
ul.items {
	padding-left: 16px;
	font-size: 14px;
}
ul.itemList {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.itemList li {
	display: inline-flex;
	padding: 3px 10px;
	margin: 7px 3px;
	border: solid 2px #c06014;
	border-radius: 7px;
	background-color: #fae7d8;
	font-size: 14px;
}
span.fa.fa-star.checked {
	color: #ffab40;
}
/* knowledge */